{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'css/discussion.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'feedback.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
{% endblock additionalHeaders%}


{% block content %}
<div class="container-fluid bg" style="height: auto;">
    <h1 class = "discussion">DISCUSSION</h1>

    <form action="" method="post" style="margin-bottom: 50px;">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3" style="margin-left: 20px; margin-top: 50px;">
                {{ form }}
                <br>
                <input type="submit" value="POST!">
            </div>

            <div class="col-sm-8 discussionTable">
                <div class="container row" style="overflow: auto; border-block: 2px; height: 350px; margin-bottom: 30px;">
                        {% for d in data %}
                        <div class="col-sm-6 col-md-6 name_and_date">
                            <b>{{ d.name }}</b>
                        </div>
                        <div class="col-sm-6 col-md-6 name_and_date" style="color: gray; text-align: left;">
                            {{ d.time }}
                        </div>
                        <div class="col-sm-12">
                            {{ d.discussion }}
                            <hr size="20">
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}