.bg{
    width: 100%;
    /* height: 100%; */
    height: 100%;
    background-size: cover;
    background-color: #F9BE02;
}
.discussion{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.marginbottom10{
    margin-bottom: 10px;
}
.discussionTable{
    background-color: white;
}
.name_and_date{
    margin-bottom: 2px;
}
table{
    width: 100px;
}