{% extends 'base.html' %}

{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'mathgame.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
{% endblock additionalHeaders %}

{% block content %}
<form method="post">
        {% csrf_token %}
<div class="points">
    <div class="row">
        <div class="col">
            {{answer_form.name}}
        </div>
        <div class="col">
            <p>points:{{points}}</p>
        </div>
    </div>
</div>

<div class="section-body container" id="mathgame">
    
        <div class="row">
            <div class="col-6">
                <h1>{{angka_satu}} {{operator}} {{angka_dua}}</h1>
            </div>
            <!-- <div class="col-2">
                <h1></h1>
            </div> -->
            <!-- <div class="col-2">
                <h1>{{angka_dua}}</h1>
            </div> -->
            <div class="col-2">
                <h1>=</h1>
            </div>
            <div class="col-4">
                {{answer_form.answer}}
            </div>
            <input type="submit" value="submit" class="btn btn-primary btn-block btn-lg my-3" >
        </div>
    </form>
</div>
{% endblock %}
