body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Coming Soon', cursive;
    background: linear-gradient(to right, #02C8A7, #B8C802);
    
  }


    

  #mathgame {
      
      text-align: center;
      color: #fff;
  }

  #mathgame h1 {
      font-size: 10em;
  }

  #answer {
      width: 100%;
      height: 100%;
      background: none;
      color: #fff;
      border: none;
      font-size: 9em;
  }

  .points {
      padding-top: 100px;
      width: 20vw;
      /* font-size: 5em; */
  }

  .points p {
      color: #fff;
      font-size: 2em;
  }

  @media screen and (max-width: 920px) {
    div.section-body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 921px ) {
    div.section-body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}