body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Coming Soon', cursive;
}

.title-feedback {
  font-size: 1.5rem;
  font-family: 'Fredoka One', cursive;
}

.section-image {
    width: 20vw;
    object-fit: contain;
    justify-content: space-around;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

@media screen and (max-width: 920px) {
    div.section-body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 921px ) {
    div.section-body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color:#f5f5f5;
}
