{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <meta charset="UTF-8">
    <title>Mathe Magic!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://necolas.github.io/normalize.css/latest/normalize.css"
      rel="stylesheet"
    />
    <style>
        .navbar {
            background-color: transparent !important;
        }
        .logo-wrapper {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    </style>
    {% block additionalHeaders %}

    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'feedback' %}"><img class="logo-wrapper" src= "https://files.catbox.moe/9scbd9.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url '' %}">Join Us!</a>#dije#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url '' %}">Leaderboard</a> #@praya tambahin url#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url '' %}">Discussion Room</a> #@adit tambahin url#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'feedback' %}">Any Problem?</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}

{% endblock %}
</body>
</html>