{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'feedback.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
{% endblock additionalHeaders%}

{% block content %}
<div class="section-body">
    <h2 class="title-feedback">Leave your thought here!</h2>
    <div class="section-image">
        <img
                src="https://pngimage.net/wp-content/uploads/2018/05/confused-girl-png-8.png"
                alt="questioning-girl"
                class="section-image"
        />
    </div>
    <form action="{% url 'feedback' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                {{ post_form.as_table }}
            </tr>
        </table>
         <br/>
    <button type="submit" class="btn btn-warning btn-sm btn-block" style="align-self: center">Send!</button>
    </form>
    <br/>
    <div class="messages">
        {% if messages %}
            <div>
            {% for message in messages %}
                <h5{% if message.tags %} class="message.tags" {% endif %}> {{ message }} </h5>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}