{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'namelogin.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
{% endblock additionalHeaders%}

{% block content %}
    <div class="section-body">
        <h1 class="title-landing-page">WELCOME</h1>
        <h3>Pick Your Name</h3>
        <div class = "form-pick">
            <form action="{% url 'landing-page' %}" method = "POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-danger btn-sm btn-block" value= "Save">PICK!</button>
            </form>
        </div>
        <div class = "sign-up">Don't have an account? Sign up!</div>
    </div>
{% endblock content %}