{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'namelogin.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
{% endblock additionalHeaders%}

{% block content %}
    <div class="section-body">
        <h2 class="title-register">What's Your Name?</h1>
        <h3>My name is...</h3>
        <div class = "form-register">
            <form action="{% url 'register' %}" method = "POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-danger btn-sm btn-block" style="align-self: center">Yes!</button>
            </form>
        </div>
    </div>
{% endblock content %}